.scene {
	height: 200px;
	width: 200px;
	border: 2px solid black;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.box {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	border-radius: 4px;
	color: white;
	font-size: 20px;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

	/*   transition: transform 0.5s ease-in-out; */
}

.box.rotate-x {
	/*   transform: rotateX(60deg); */
	animation: rotateX 1500ms infinite alternate ease-in-out 1000ms;
}

.box.rotate-y {
	/*   transform: rotateY(60deg); */
	animation: rotateY 1500ms infinite alternate ease-in-out 1000ms;
}

.box.rotate-x {
	background-color: tomato;
}

.box.rotate-y {
	background-color: blue;
}

.scene + .scene {
	margin-left: 50px;
}

.container {
	display: flex;
}

@keyframes rotateX {
	0% {
		transform: rotateX(0deg);
	}

	100% {
		transform: rotateX(60deg);
	}
}

@keyframes rotateY {
	0% {
		transform: rotateY(0deg);
	}

	100% {
		transform: rotateY(60deg);
	}
}

/* Функція perspective()  */
.box {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	border-radius: 4px;
	color: white;
	font-size: 20px;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

	/*   transition: transform 0.5s ease-in-out; */
}

.box.rotate-x-02 {
	/*   transform: perspective(400px) rotateX(45deg); */
	animation: rotateX-02 1500ms infinite alternate ease-in-out 1000ms;
}

.box.rotate-y-02 {
	/*   transform: perspective(400px) rotateY(45deg); */
	animation: rotateY-02 1500ms infinite alternate ease-in-out 1000ms;
}

.box.rotate-x-02 {
	background-color: tomato;
}

.box.rotate-y-02 {
	background-color: blue;
}

.container {
	display: flex;
}

@keyframes rotateX-02 {
	0% {
		transform: perspective(400px) rotateX(0deg);
	}

	100% {
		transform: perspective(400px) rotateX(60deg);
	}
}

@keyframes rotateY-02 {
	0% {
		transform: perspective(400px) rotateY(0deg);
	}

	100% {
		transform: perspective(400px) rotateY(60deg);
	}
}

/* 
 */

.scene-03 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 390px;
	border: 3px solid black;
	border-radius: 4px;
	margin: -10px;
	background-color: #fff;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.box-03 {
	flex-basis: 100px;
	height: 100px;
	margin: 10px;
	border-radius: 4px;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

	/*  We set the perspective for each element separately.  */
	/*   transform: perspective(400px) rotateY(45deg); */
	animation: rotateY-03 3000ms infinite alternate backwards ease-in-out 1000ms;
}

.box-03:nth-child(1) {
	background-color: #f44336;
}

.box-03:nth-child(2) {
	background-color: #9c27b0;
}

.box-03:nth-child(3) {
	background-color: #3f51b5;
}

.box-03:nth-child(4) {
	background-color: #03a9f4;
}

.box-03:nth-child(5) {
	background-color: #009688;
}

.box-03:nth-child(6) {
	background-color: #4caf50;
}

.box-03:nth-child(7) {
	background-color: #ffc107;
}

.box-03:nth-child(8) {
	background-color: #795548;
}

.box-03:nth-child(9) {
	background-color: #e91e63;
}

@keyframes rotateY-03 {
	0% {
		transform: perspective(400px) rotateY(60deg);
	}

	100% {
		transform: perspective(400px) rotateY(-60deg);
	}
}

/* Властивість perspective */
.scene-04 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 390px;
	border: 3px solid black;
	border-radius: 4px;
	margin: -10px;
	background-color: #fff;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

	/*  Set the perspective of the entire scene.  */
	perspective: 400px;
}

.box-04 {
	flex-basis: 100px;
	height: 100px;
	margin: 10px;
	border-radius: 4px;
	transform: rotateY(45deg);
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

	animation: rotateY-04 3000ms infinite alternate backwards ease-in-out 1000ms;
}

.box-04:nth-child(1) {
	background-color: #f44336;
}

.box-04:nth-child(2) {
	background-color: #9c27b0;
}

.box-04:nth-child(3) {
	background-color: #3f51b5;
}

.box-04:nth-child(4) {
	background-color: #03a9f4;
}

.box-04:nth-child(5) {
	background-color: #009688;
}

.box-04:nth-child(6) {
	background-color: #4caf50;
}

.box-04:nth-child(7) {
	background-color: #ffc107;
}

.box-04:nth-child(8) {
	background-color: #795548;
}

.box-04:nth-child(9) {
	background-color: #e91e63;
}

@keyframes rotateY-04 {
	0% {
		transform: perspective(400px) rotateY(60deg);
	}

	100% {
		transform: perspective(400px) rotateY(-60deg);
	}
}
