/** different bg images */
.container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;

	height: 600px;
	width: 1200px;
}

.box {
	width: calc(50% - 20px);
	border-radius: 5px;
}

.box:nth-child(1) {
	background-color: cadetblue;
	background-image: url("../images/picachu.png");
	background-repeat: repeat;
	background-position: 50% 50%;
	background-size: auto;
}
.box:nth-child(2) {
	background-color: burlywood;
	background-image: url("../images/sheep.png");
	background-repeat: repeat-x;
	background-position: bottom;
	background-size: 128px;
}
.box:nth-child(3) {
	background-color: chocolate;
	background-image: url("../images/apple.png");
	background-repeat: no-repeat;
	/* background-position: top; */
	background-size: contain;
}
.box:nth-child(4) {
	background-color: cornflowerblue;
	background-image: url("../images/girl.png");
	background-repeat: no-repeat;
	/* background-position: left 20px top 30px; */
	background-position: 50% 50%;
	background-size: cover;
}

/** overlay */
.overlay {
	height: 480px;
	max-width: 1200px;
	outline: 1px solid black;
	margin-left: auto;
	margin-right: auto;

	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url("../images/fantasy-island.jpg");
	background-size: cover;
	background-position: top center;
}

/** Icon on btn */

.button {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	display: inline-flex;
	padding: 16px;
	border-radius: 5px;
	background-color: coral;

	align-items: center;
	color: beige;
}

.button:hover,
button:focus {
	color: chocolate;
	background-color: darkgrey;
}

.button::before {
	content: "";
	width: 20px;
	height: 20px;
	margin-right: 12px;
	background-image: url("../images/sheep.png");
	background-size: contain;
}

/** List + icon  */
.list {
	display: flex;
	list-style: none;
	padding: 0;
}
.list-item {
	width: 350px;
	margin: 10px;
	padding: 10px;
	border-radius: 8px;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.list-item::before {
	content: "";
	display: block;
	height: 120px; /* задає висоту before */

	background-size: 60px; /* задає розмір самого зображення-іконки */
	background-repeat: no-repeat;
	background-position: center;
	background-color: #838383;

	/* padding: 40px;
	margin: 10px;
	outline: 1px solid red; */
}

.icon-picachu::before {
	/* content: ""  - не потрібеен, бо це той само before, що і в .list-item::before */
	background-image: url("../images/picachu.png");
}

.icon-sheep::before {
	background-image: url("../images/sheep.png");
}

.list-item > .title {
	margin: 0;
}

.list-item > .text {
	margin: 0;
}
